<form [formGroup]="formDeveloper" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="avatar" class="avatar">Avatar(URL)</label>
        <input type="text" class="form-control" name="avatar" id="avatar" formControlName="avatar">
    </div>

    <div class="form-group">
        <label for="name" class="name">Nome</label>
        <input type="text" class="form-control" name="name" id="name" formControlName="name">
    </div>

    <div class="form-group">
        <label for="email" class="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" formControlName="email"> 
    </div>

    <div class="form-group">
        <label for="city" class="city">Cidade</label>
        <input type="text" class="form-control" name="city" id="city" formControlName="city">
    </div>

    <div class="form-group">
        <label for="education" class="education">Formação </label>
        <input type="text" class="form-control" name="education" id="education" formControlName="education">
    </div>
    
    <div class="form-group">
        <label for="technologies" class="technologies">Tecnologias </label>
        <input type="textarea" class="form-control" name="technologies" id="technologies" formControlName="technologies">
    </div>
    <div class="btn-container">
        <input type="submit" class="btn-submit-form" value="Cadastar">
        <a href="#" class="btn-cancel-submit">Cancelar</a>
    </div>
</form>